@model CinemaGad.Data.session

@*<span>@DateTime.UtcNow.AddHours(ViewBag.TimeZone) > @Model.start</span>*@

@if (DateTime.UtcNow.AddHours(ViewBag.TimeZone) > Model.start)
{
    <span class="rounded-disabled">@Model.start.ToString("HH:mm")</span>
}
else
{
    <span class="rounded">@Model.start.ToString("HH:mm")</span>
}